.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.instrument-label {
  color: white;
  top: 50px;
  font-size: 2rem;;
  background-color: orangered;
  border-radius: 15px 15px 0 0;
  min-width: 300px;
  text-align: center;
  z-index: 1;
}

#drum-machine {
  width: 700px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 0 15px aliceblue;
}

.drum-controls {
  background-color:cadetblue;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}

/* HANDLE PAD BUTTONS */

.drum-pad {
  background-color: white;
  color: grey;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 2rem;;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
  user-select: none;
}

.drum-pad:hover {
  cursor: pointer;
  background-color: azure;
}

.drum-pad label {
  cursor: pointer;
}

.drum-pad:active {
  background-color: grey;
  color: white;
}

/* DASHBOARD ELEMENT */
.dashboard {
  width: 40%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  min-width: 60%;
  height: 60px;
  border: double 4px grey;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
  color:white;
  background-color: grey;
  border-radius: 2px;
  box-shadow: 0 0 3px black;
}

.on-key-anim {
  background-color: grey;
  color: white;
}